#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/mouse.h>
// Uncomment if using RGB underglow:
// #include <dt-bindings/zmk/rgb.h>

#define BASE 0
#define NAV 1
#define FUNC 2
#define GAME 3

/ {
    behaviors {
        // Xcape behavior: Ctrl when held, Esc when tapped
        // Uses "balanced" flavor to trigger hold immediately on other key press
        // This matches QMK's HOLD_ON_OTHER_KEY_PRESS behavior
        xcape: xcape {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;
        };
        
        // Nav-Space: NAV layer when held, Space when tapped
        // Uses "balanced" flavor to trigger hold immediately on other key press
        navspc: nav_space {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "base";
// ------------------------------------------------------------------------------------------------------------
// |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   -   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   =   |
// | XCAPE |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |        |  |       |  N   |  M    |  ,    |  .   |   /   | ENTER |
//               | FUNC| ALT  | GUI  | SPC  |  NAV   |  | BSPC  |NAVSPC| FUNC  | ALT   | CTRL |
            bindings = <
&kp GRAVE    &kp N1     &kp N2     &kp N3    &kp N4    &kp N5                             &kp N6    &kp N7     &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB      &kp Q      &kp W      &kp E     &kp R     &kp T                              &kp Y     &kp U      &kp I      &kp O     &kp P     &kp EQUAL
&xcape LCTRL ESC  &kp A  &kp S      &kp D     &kp F     &kp G                              &kp H     &kp J      &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT    &kp Z      &kp X      &kp C     &kp V     &kp B      &none      &none        &kp N     &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp ENTER
                        &mo FUNC   &kp LALT  &kp LGUI  &kp SPACE  &mo NAV    &kp BSPC     &navspc NAV SPACE  &mo FUNC   &kp RALT   &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        nav_layer {
            display-name = "nav";
// ------------------------------------------------------------------------------------------------------------
// |       | BASE| GAME|      |      |      |                   |      |      |       |      |       |       |
// |       |     | BTN3| M_UP | WHUP |      |                   |      |      |       |      |       |       |
// |       | BTN1| M_L | M_DN | M_R  | BTN2 |                   | LEFT | DOWN |  UP   | RGHT |       |       |
// |       |     |     |      | WHDN |      |        |  |       |      |      |   [   |  ]   |   \   |       |
//               |     |      |      |      |        |  |       |      |      |       |      |
            bindings = <
&trans  &to BASE     &to GAME     &trans        &trans        &trans                           &trans    &trans    &trans    &trans     &trans    &trans
&trans  &trans       &mkp MB3     &mmv MOVE_UP  &msc SCRL_UP  &trans                           &trans    &trans    &trans    &trans     &trans    &trans
&trans  &mkp MB1     &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &mkp MB2                    &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans    &trans
&trans  &trans       &trans       &trans        &msc SCRL_DOWN &trans  &trans     &trans      &trans    &trans    &kp LBKT  &kp RBKT   &kp BSLH  &trans
                     &trans       &trans        &trans        &trans  &trans     &trans       &trans    &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        func_layer {
            display-name = "func";
// ------------------------------------------------------------------------------------------------------------
// |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
// |       |     |     |      |      |      |                   |      |       |       |      | PSCR  |  F12  |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |        |  |       |      | MUTE  | VOLD  | VOLU |       |       |
//               |     |      |      |      |        |  |       |      |       |       |      |
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                        &kp F6     &kp F7      &kp F8       &kp F9       &kp F10   &kp F11
&trans  &trans  &trans  &trans  &trans  &trans                        &trans     &trans      &trans       &trans       &kp PSCRN &kp F12
&trans  &trans  &trans  &trans  &trans  &trans                        &trans     &trans      &trans       &trans       &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &kp C_MUTE  &kp C_VOL_DN &kp C_VOL_UP &trans    &trans
                &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans      &trans       &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        game_layer {
            display-name = "game";
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   -   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   =   |
// | CTRL  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |        |  |       |  N   |  M    |  ,    |  .   |   /   | ENTER |
//               | FUNC| ALT  | GUI  | SPC  |  NAV   |  | BSPC  |NAVSPC| FUNC  | ALT   | CTRL |
            bindings = <
&kp ESC   &kp N1     &kp N2     &kp N3    &kp N4    &kp N5                             &kp N6    &kp N7     &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB   &kp Q      &kp W      &kp E     &kp R     &kp T                              &kp Y     &kp U      &kp I      &kp O     &kp P     &kp EQUAL
&kp LCTRL &kp A      &kp S      &kp D     &kp F     &kp G                              &kp H     &kp J      &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT &kp Z      &kp X      &kp C     &kp V     &kp B      &none      &none        &kp N     &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp ENTER
                     &mo FUNC   &kp LALT  &kp LGUI  &kp SPACE  &mo NAV    &kp BSPC     &navspc NAV SPACE  &mo FUNC   &kp RALT   &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

    };
};
